.header {
    font-size: 32px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin: auto 250px auto 250px;
    background-color: lightblue;
    border-radius: 10px;
}
.line-break {
    height: 2px;
    border: none;
    background-color: lightblue;
}
ul {
    display: flex;
    justify-content: space-between;
}
.links {
    list-style-type: none;
}
.links a {
    text-decoration: none;
}